* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover{
  text-decoration: none;
  color: black;
}
.ico{
  display: flex;
}
.size{
  flex-direction: row;
  width: 30px;
  padding-top: 15px;
  margin: 10px;
}
header {
  display: inline-block;
  width: 100%;
}
.redes{
  display: flex;
  justify-content: center;
}
header nav ul {
  background-color:#b2dfdb;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 5px;
} 
header nav ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 10px;
}
body {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
}
img {
  width: 100%;
}
p {
  color:#b2dfdb; 
  font-size: 15px;
}
nav {
  background-color: white;
}
nav .navbar-brand h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 8px;
}
.__text-combo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
.__text-combo.__dark {
  color: #000;
}
.__text-combo.__light {
  color: #fff;
}
.__text-combo.__light p {
    font-family: 'Taviraj', serif;
 }
/*.__text-combo h2 {
  font-size: 3em;
  font-family: 'Pinyon Script', fantasy;
  margin-bottom: -38px;
}*/
.__text-combo h3 {
  font-size: 3em;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.__max-width {
  max-width: 990px;
  margin: 0 auto;
}
.__pads-y {
  padding: 100px 0;
}
.__wrapper-carousel .carousel-inner > * {
  min-height: 60vh;
  height: 80vh;
}
.__wrapper-carousel .carousel-inner .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.__wrapper-carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.__wrapper-carousel .carousel-inner .carousel-item.slide1 {
  background-image: url("../img/slide1.jpg");
}
.__wrapper-carousel .carousel-inner .carousel-item.slide2 {
  background-image: url("../img/slide2.jpg");
}
.__wrapper-carousel .carousel-inner .carousel-item.slide3 {
  background-image: url("../img/slide4.jpg");
}
div[class^="__header-"] {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
}
.productos article{
  margin-top: 20px;
  margin-bottom: 20px;
}
.__wrapper-contact {
  background-color: #000;
  padding: 50px 0;
  color: #fff;
}
.__wrapper-contact article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.__wrapper-copyright {
  padding: 10px 0;
  background-color: #262626;
  color: #8b8e94;
}
@media (max-width: 575px) {
  .__inner-img {
    height: 160px;
  }
}